Scene(
    assets: AssetManager(
        audio: AudioManager(
            sounds: [],
            cast_count: 128,
            listener_count: 8,
        ),
        textures: [
            Texture(
                load_type: Path("assets/textures/uv.jpg"),
                filter: Linear,
            ),
        ],
        materials: [
            {
                "material": "DefaultMat",
                "color": (1.0, 1.0, 1.0),
                "albedo": 0,
                "metallic": 0.5,
                "metallic_map": 0,
                "roughness": 0.5,
                "roughness_map": 0,
                "normal": 1.0,
                "normal_map": 0,
            },
        ],
    ),
    entities: [
        Entity(
            components: [
                {
                    "component": "Mesh",
                    "vertexdata": [
                        Vertex(
                            position: (-1.0, 1.0, 0.0),
                            normal: (0.0, 0.0, -4.0),
                            texcoord: (0.0, 1.0),
                        ),
                        Vertex(
                            position: (-1.0, -1.0, 0.0),
                            normal: (0.0, 0.0, -4.0),
                            texcoord: (0.0, 0.0),
                        ),
                        Vertex(
                            position: (1.0, 1.0, 0.0),
                            normal: (0.0, 0.0, -4.0),
                            texcoord: (1.0, 1.0),
                        ),
                        Vertex(
                            position: (1.0, -1.0, 0.0),
                            normal: (0.0, 0.0, -4.0),
                            texcoord: (1.0, 0.0),
                        ),
                    ],
                    "indexdata": [
                        0,
                        2,
                        1,
                        1,
                        2,
                        3,
                    ],
                },
                {
                    "component": "AssetHandle",
                    "value": 0,
                },
                {
                    "component": "Transform",
                    "translation": [
                        0.0,
                        0.0,
                        0.0,
                    ],
                    "rotation": [
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ],
                    "scale": 1.0,
                },
            ],
        ),
        Entity(
            components: [
                {
                    "component": "Camera",
                    "camera_type": FirstPerson,
                    "projectionmatrix": [
                        1.2990379,
                        0.0,
                        0.0,
                        0.0,
                        0.0,
                        1.7320507,
                        0.0,
                        0.0,
                        0.0,
                        0.0,
                        1.001001,
                        1.0,
                        0.0,
                        0.0,
                        -0.1001001,
                        0.0,
                    ],
                    "fovy": 1.0471976,
                    "aspect": 1.3333334,
                    "near": 0.1,
                    "far": 100.0,
                    "is_active": true,
                },
                {
                    "component": "Transform",
                    "translation": [
                        0.0,
                        0.0,
                        5.0,
                    ],
                    "rotation": [
                        0.0,
                        0.0,
                        0.0,
                        1.0,
                    ],
                    "scale": 1.0,
                },
            ],
        ),
    ],
)