[
    (1, 2, ("Transform", "Camera"), ((4294967296), ((
        translation: [
            0.0,
            0.0,
            5.0,
        ],
        rotation: [
            0.0,
            0.0,
            0.0,
            1.0,
        ],
        scale: 1.0,
    )), ((
        camera_type: LookAt,
        projectionmatrix: [
            0.878705,
            0.0,
            0.0,
            0.0,
            0.0,
            1.7320507,
            0.0,
            0.0,
            0.0,
            0.0,
            1.001001,
            1.0,
            0.0,
            0.0,
            -0.1001001,
            0.0,
        ],
        fovy: 1.0471976,
        aspect: 1.97114,
        near: 0.1,
        far: 100.0,
        is_active: true,
    )))),
    (1, 3, ("Mesh", "Transform", "AssetHandle"), ((4294967297), ((
        vertexdata: [
            (
                position: (-0.5, 0.5, 0.5),
                normal: (-0.5773, 0.5773, 0.5773),
                texcoord: (0.625, 0.0),
            ),
            (
                position: (-0.5, -0.5, -0.5),
                normal: (-0.5773, -0.5773, -0.5773),
                texcoord: (0.375, 0.25),
            ),
            (
                position: (-0.5, -0.5, 0.5),
                normal: (-0.5773, -0.5773, 0.5773),
                texcoord: (0.375, 0.0),
            ),
            (
                position: (-0.5, 0.5, -0.5),
                normal: (-0.5773, 0.5773, -0.5773),
                texcoord: (0.625, 0.25),
            ),
            (
                position: (0.5, -0.5, -0.5),
                normal: (0.5773, -0.5773, -0.5773),
                texcoord: (0.375, 0.5),
            ),
            (
                position: (0.5, 0.5, -0.5),
                normal: (0.5773, 0.5773, -0.5773),
                texcoord: (0.625, 0.5),
            ),
            (
                position: (0.5, -0.5, 0.5),
                normal: (0.5773, -0.5773, 0.5773),
                texcoord: (0.375, 0.75),
            ),
            (
                position: (0.5, 0.5, 0.5),
                normal: (0.5773, 0.5773, 0.5773),
                texcoord: (0.625, 0.75),
            ),
            (
                position: (-0.5, -0.5, 0.5),
                normal: (-0.5773, -0.5773, 0.5773),
                texcoord: (0.375, 1.0),
            ),
            (
                position: (-0.5, -0.5, 0.5),
                normal: (-0.5773, -0.5773, 0.5773),
                texcoord: (0.125, 0.75),
            ),
            (
                position: (-0.5, -0.5, -0.5),
                normal: (-0.5773, -0.5773, -0.5773),
                texcoord: (0.125, 0.5),
            ),
            (
                position: (-0.5, 0.5, -0.5),
                normal: (-0.5773, 0.5773, -0.5773),
                texcoord: (0.875, 0.5),
            ),
            (
                position: (-0.5, 0.5, 0.5),
                normal: (-0.5773, 0.5773, 0.5773),
                texcoord: (0.625, 1.0),
            ),
            (
                position: (-0.5, 0.5, 0.5),
                normal: (-0.5773, 0.5773, 0.5773),
                texcoord: (0.875, 0.75),
            ),
        ],
        indexdata: [
            0,
            1,
            2,
            3,
            4,
            1,
            5,
            6,
            4,
            7,
            8,
            6,
            4,
            9,
            10,
            11,
            7,
            5,
            0,
            3,
            1,
            3,
            5,
            4,
            5,
            7,
            6,
            7,
            12,
            8,
            4,
            6,
            9,
            11,
            13,
            7,
        ],
    )), ((
        translation: [
            0.0,
            0.0,
            0.0,
        ],
        rotation: [
            -0.1445554,
            -0.1445557,
            -0.14455484,
            -0.96813476,
        ],
        scale: 1.0,
    )), ((0)))),
]